/public/
/static/.DS_store
/static/classes/auto/
/static/*/*.aux
/static/*/*.fdb_latexmk
/static/*/*.fls
/static/*/*.log
/static/*/*.nav
/static/*/*.out
/static/*/*.synctex.gz
/static/*/*.snm
/static/*/*.toc
/static/*/*.jpg
/static/*/auto/